.openrem-toprow {
  padding-top: 15px;
}

table.row-clickable tbody tr td {
  padding: 0;
}

table.row-clickable tbody tr td a {
  display: block;
  padding: 8px;
  color: #000;
}

table.row-clickable tbody tr td a:hover,
table.row-clickable tbody tr td a:focus {
    color: #2a6496;
    text-decoration: underline;
}

table.row-clickable tbody tr th {
    background-color: #d9edf7;
}