{% extends "remapp/filteredbase.html" %}

{% block navbar %}
  {% if request.user.userprofile.displayCT %}<li class="active"><a href="/openrem/ct">CT</a></li>{% endif %}
  {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
  {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
  {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}

{% block toprow %}
  {% load pagination_tags %}

  <p>
    There are {{ filter.count }} studies in this list.
  </p>
  {% if admin.exportperm or admin.adminperm %}
    <ul>
      <li><strong>Note:</strong> Apply the filter first to refine what is exported.</li>
      <li><a href="/openrem/exportctcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
      <li><a href="/openrem/exportctxlsx1/?{{ request.GET.urlencode }}">Export to XLSX</a></li>
    </ul>

  {% else %}
    <p>
      Sorry, you don't have enough permissions to enable study export.
    </p>
  {% endif %}

{% endblock %}


{% block col2 %}


  {{ studyfilter }}

  <form action="" method="post" class="form-horizontal" role="form">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Exam filter</h3>
      </div>
      <div class="panel-body">
        <i>Date format yyyy-mm-dd</i>
        {% for field in filter.form %}
          <div class="form-group">
            <div class="col-xs-4">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-xs-8">
              {{ field.errors }}
              {{ field }}
            </div>
          </div>
        {% endfor %}
        <input type="submit" />
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ chartOptionsForm }}
        </table>
        <input type="submit" />
      </div>
    </div>
  </form>

  <script src="{{ STATIC_URL }}js/datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/formatDate.js"></script>
  <script src="{{ STATIC_URL }}js/getColours.js"></script>

{% endblock %}

{% block col1 %}


  {% autopaginate filter.qs 25 as filter_list %}
  {% paginate %}

  <table class="table table-bordered table-hover row-clickable">
    <tr>
      <th>Institution</th><th>Make | Model | Station name</th><th>Date</th><th>Study description | Request | Accession number</th><th>Number of events</th><th>Dose Length Product Total (mGy.cm)</th>
      {% if admin.adminperm %}
        <th>Delete?</th>
      {% endif %}
    </tr>
    {% for exam in filter_list %}
      <tr>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.institution_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer }} |
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
            {{ exam.generalequipmentmoduleattr_set.get.station_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
        </a>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.study_description }}</a> |
          {{ exam.requested_procedure_code_meaning }} |
          {{ exam.accession_number }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.total_number_of_irradiation_events }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.ct_dose_length_product_total|floatformat:2 }}
          </a>
        </td>
        {% if admin.adminperm %}
          <td>
            <a href="{% url 'study_delete' exam.id %}">Delete</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% paginate %}

{% endblock %}

{% block jsblock %}
{% endblock %}

{% block plotdata %}

  {% if request.user.userprofile.plotCharts %}
    <!-- Include JavaScript to enable highcharts plots -->
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/exporting.js"></script>
    <!-- End of include JavaScript to enable highcharts plots -->


    <!-- JavaScript function to sort a list of objects by the 'y' or 'name' object. -->
    <script src="{{ STATIC_URL }}js/sorting.js"></script>
    <!-- End of JavaScript function to sort a list of objects by the 'y' or 'name' object -->


    {% if request.user.userprofile.plotCTAcquisitionMeanDLP %}
      <!-- HTML to include div container for acquisition plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Plot mean DLP for each acquisition protocol in currently filtered data.
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramPlotDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
              <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
                Note that this will include acquisitions at the upper bin boundary, so in some cases may display
                more data than shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for acquisition plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionFreq %}
      <!-- HTML to include div container for acquisition pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocolPieChart">
                Pie chart showing a breakdown of acquisition protocol frequency.
              </a>
            </h4>
          </div>
          <div id="collapseProtocolPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartProtocolDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- HTML to include div container for acquisition pie chart -->
    {% endif %}

    <!-- Include JavaScript to enable highcharts drilldown plots -->
    <script src="{{ STATIC_URL }}js/drilldown.js"></script>
    <!-- End of include JavaScript to enable highcharts drilldown plots -->


    {% if request.user.userprofile.plotCTAcquisitionMeanDLP or request.user.userprofile.plotCTAcquisitionFreq %}
      <!-- JavaScript for acquisition mean DLP and acquisition frequency plot -->
      <script>
        var protocolNames     = [
          {% for name in acquisitionSummary %}
            "{{name.ctradiationdose__ctirradiationeventdata__acquisition_protocol}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var seriesDataN       = [
          {% for testData in acquisitionSummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTAcquisitionMeanDLP %}
      <!-- JavaScript for acquisition mean DLP plot -->
      <script>
        var protocolCounts    = [
          {% for protocol in acquisitionHistogramData %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolBins      = [
          {% for protocolEdges in acquisitionHistogramData %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var seriesData        = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.mean_dlp}},drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var seriesDrilldown   = [
          {% for protocolCountsArray in acquisitionHistogramData %}
            {id: protocolNames[{{forloop.counter}}-1],name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersAcq = '{% for field in filter.form %}{% if field.name != 'acquisition_dlp_min' and field.name != 'acquisition_dlp_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      <script src="{{ STATIC_URL }}js/ctChartDLPperAcquisition.js"></script>
      <!-- End of JavaScript for acquisition plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionFreq %}
      <!-- JavaScript for acquisition pie chart -->
      <script>
        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';
        var protocolPiechartData = new Array(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          protocolPiechartData[i] = {name:protocolNames[i], y:parseInt(seriesDataN[i]), url:urlStart+protocolNames[i]};
        }
        protocolPiechartData.sort(sort_by_y);

        protocolColours = getColours(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          protocolPiechartData[i].color = protocolColours[i];
        }
      </script>

      <script src="{{ STATIC_URL }}js/ctChartAcquisitionFrequency.js"></script>
      <!-- End of JavaScript for acquisition pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLP %}
      <!-- HTML to include div container for study plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Plot mean DLP for each study description in currently filtered data.
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramStudyPlotDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that study.</p>
              <p>Click on a histogram bin tooltip to see the studies in the bin. Note that this will
                include studies at the upper bin boundary, so in some cases may display more data than
                shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for study plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyFreq %}
      <!-- HTML to include div container for study pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudyPieChart">
                Pie chart showing a breakdown of study frequency.
              </a>
            </h4>
          </div>
          <div id="collapseStudyPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartStudyDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for study pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyPerDayAndHour %}
      <!-- HTML to include div container for pie chart of studies per week day pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudyWorkloadPieChart">
                Pie chart showing a breakdown of number of studies per weekday.
              </a>
            </h4>
          </div>
          <div id="collapseStudyWorkloadPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartStudyWorkloadDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on a segment to be taken to a pie chart showing the breakdown per hour for that weekday.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for studies per week day pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- HTML to include div container for mean study DLP per week -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseWeeklyStudyMeanChart">
                Line plot showing weekly mean DLP of each study type over time.
              </a>
            </h4>
          </div>
          <div id="collapseWeeklyStudyMeanChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="linechartWeeklyStudyMeanDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for mean study DLP per week -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLP or request.user.userprofile.plotCTStudyFreq or request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for study plot. Some data also required by other plots -->
      <script>
        var studyNames     = [
          {% for name in studySummary %}
            "{{name.study_description}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studySeriesDataN = [
          {% for testData in studySummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTStudyMeanDLP %}
      <script>
        <!-- JavaScript for study plot. -->
        var studyCounts    = [
          {% for study in studyHistogramData %}
            [
              {% for dataCounts in study.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studyBins      = [
          {% for studyEdges in studyHistogramData %}
            [
              {% for edges in studyEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studySeriesData = [
          {% for testData in studySummary %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],y: {{testData.mean_dlp}},drilldown:studyNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studySeriesDrilldown   = [
          {% for studyCountsArray in studyHistogramData %}
            {id: studyNames[{{forloop.counter}}-1],name: studyNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in studyCountsArray.0 %}
                [studyBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + studyBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersStudy = '{% for field in filter.form %}{% if field.name != 'study_dlp_min' and field.name != 'study_description' and field.name != 's' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      <script src="{{ STATIC_URL }}js/ctChartDLPperStudy.js"></script>
      <!-- End of JavaScript for study plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyFreq or request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for study pie chart. studyColours also needed by DLP over time plot -->
      <script>
        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&study_description=';
        var studyPiechartData = new Array(studyNames.length);
        for(var i=0; i<studyNames.length; i++) {
          studyPiechartData[i] = {name:studyNames[i], y:parseInt(studySeriesDataN[i]), url:urlStart+studyNames[i]};
        }
        studyPiechartData.sort(sort_by_y);

        studyColours = getColours(studyNames.length);
        for(var i=0; i<studyNames.length; i++) {
          studyPiechartData[i].color = studyColours[i];
        }
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTStudyFreq %}
      <script src="{{ STATIC_URL }}js/ctChartStudyFrequency.js"></script>
      <!-- End of JavaScript for study pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyPerDayAndHour %}
      <!-- JavaScript for studies per weekday pie chart with drilldown to hourly breakdown -->
      <script>
        var dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

        var studiesPerHourEachWeekday = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            [
              {% for hourCounts in dayCounts %}
                {{hourCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studiesPerWeekday = new Array(7);
        for(var i=0; i<7; i++) {
          var tempTotal = 0;
          for(var j=0; j<24; j++) {
            tempTotal = tempTotal + studiesPerHourEachWeekday[i][j];
          }
          studiesPerWeekday[i] = tempTotal;
        }

        var hourColours = getColours(24);
        var seriesDrillDownPieChart   = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            {id:dayNames[{{forloop.counter}}-1], name:dayNames[{{forloop.counter}}-1], useHTML:true, type:'pie', data: [
              {% for hourCounts in dayCounts %}
                {{'{'}}name:'{{forloop.counter|add:"-1"|stringformat:"02d"}}:00', y:studiesPerHourEachWeekday[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1],color:hourColours[{{forloop.counter}}]{{'}'}}{% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var dayColours = getColours(7);
        var studyWorkloadPieChartData= new Array(7);
        for(var i=0; i<7; i++) {
          studyWorkloadPieChartData[i] = {name:dayNames[i], y:studiesPerWeekday[i], color:dayColours[i], drilldown:dayNames[i]};
        }
      </script>

      <script src="{{ STATIC_URL }}js/ctChartStudyWorkload.js"></script>
      <!-- End of JavaScript for studies per week day pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for mean DLP per study description -->
      <script>
        dateAxis = [
          {% for dateEntries in studyDLPoverTime.0 %}
            "{{ dateEntries.0.date|date:"d/m/Y" }}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        // Create the same colours as for the study pie chart, so that the colours
        // are the same for the studies in the pie chart and this plot.
        var studyLineColours =  new Array(studyNames.length);
        studyPiechartData.sort(sort_by_name);
        for(var i=0; i<studyNames.length; i++) {
          studyLineColours[i] = studyPiechartData[i].color;
        }
        studyPiechartData.sort(sort_by_y);

        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'date_before' and field.name != 'date_after' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&study_description=';

        meanDLPperWeek = [
          {% for studyData in studyDLPoverTime %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],
                  color:studyLineColours[{{forloop.counter}}-1],
                  marker:{{'{'}}enabled:true{{'}'}},
                  point: {{'{'}}
            events: {{'{'}}
                    click: function(e) {{'{'}}
            location.href = e.point.url;
            e.preventDefault();
            {{'}'}}
            {{'}'}}
            {{'}'}},
            data:[
              {% for weekEntries in studyData %}
                {{'{'}}y:{% if weekEntries.1 %}{{ weekEntries.1 }}{% else %}null{% endif %},url:urlStart+studyNames[{{forloop.parentloop.counter}}-1]+'&date_after='+formatDate(new Date({{weekEntries.0.year}},{{weekEntries.0.month}}-1,{{weekEntries.0.day}}))+'&date_before='+ formatDate(new Date ((new Date({{weekEntries.0.year}},{{weekEntries.0.month}}-1,{{weekEntries.0.day}})).setDate((new Date({{weekEntries.0.year}},{{weekEntries.0.month}}-1,{{weekEntries.0.day}})).getDate()+6))){{'}'}}
                      {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]{{'}'}}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>

      <script src="{{ STATIC_URL }}js/ctChartDAPperStudyOverTime.js"></script>
      <!-- End of JavaScript for mean DLP per study description -->
    {% endif %}


    <!-- JavaScript to remove the hyper links from x-axis data labels in the plots -->
    <script src="{{ STATIC_URL }}js/removeXChartLabelHyperlinks.js"></script>
    <!-- End of JavaScript to remove the hyper links from x-axis data labels in the plots -->
  {% endif %}
{% endblock %}
