{% extends "remapp/base.html" %}

      {% block toprow %}
      <h1><img src="{{ STATIC_URL }}img/openrem0055.png" height="55" width="55" class="openrem-logo">OpenREM database browser and export</h1>

      <p>
          There are {{ homedata.total }} studies in this database. Page last refreshed on {% now "jS F Y \a\t H:i" %}.
      </p>
      {% endblock %}


      {% block mainblock %}
{% load humanize %}

<table class="table table-bordered">
    <tr>
        {% if homedata.CT %}<th><a href="/openrem/ct/">CT</a></th>{% endif %}{% if homedata.RF %}<th><a href="/openrem/rf/">Fluoroscopy</a></th>{% endif %}{% if homedata.MG %}<th><a href="/openrem/mg/">Mammography</a></th>{% endif %}{% if homedata.DX %}<th><a href="/openrem/dx/">Radiography</a></th>{% endif %}
    </tr>
    <tr>
        {% if homedata.CT %}<td>{{ homedata.ct }}</td>{% endif %}{% if homedata.RF %}<td>{{ homedata.rf }}</td>{% endif %}{% if homedata.MG %}<td>{{ homedata.mg }}</td>{% endif %}{% if homedata.DX %}<td>{{ homedata.dx }}</td>{% endif %}
    </tr>
</table>

{% if homedata.CT %}
<h4>CT summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Station name</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.CT.items %}
        <tr>
            <td>
                <a href="/openrem/ct/?station_name={{ key }}&o=-study_date">
                    {{ value.institution }} ({{ key }})
                </a>
            </td>
            <td>
                <a href="/openrem/ct/?station_name={{ key }}&o=-study_date">
                {{ value.total }}
                </a>
            </td>
            <td>
                <a href="/openrem/ct/?station_name={{ key }}&o=-study_date">
                {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.RF %}
<h4>Fluoroscopy summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Station name</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.RF.items %}
        <tr>
            <td>
                <a href="/openrem/rf/?station_name={{ key }}&o=-study_date">
                    {{ value.institution }} ({{ key }})
                </a>
            </td>
            <td>
                <a href="/openrem/rf/?station_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td>
                <a href="/openrem/rf/?station_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.MG %}
<h4>Mammography summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Station name</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.MG.items %}
        <tr>
            <td>
                <a href="/openrem/mg/?station_name={{ key }}&o=-study_date">
                    {{ value.institution }} ({{ key }})
                </a>
            </td>
            <td>
                <a href="/openrem/mg/?station_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/?station_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if homedata.DX %}
<h4>Radiography summary table</h4>
<table class="table table-bordered table-hover row-clickable">
    <tr>
        <th>Station name</th><th>Number of studies</th><th>Latest study</th>
    </tr>
    {% for key,value in homedata.DX.items %}
        <tr>
            <td>
                <a href="/openrem/dx/?station_name={{ key }}&o=-study_date">
                    {{ value.institution }} ({{ key }})
                </a>
            </td>
            <td>
                <a href="/openrem/dx/?station_name={{ key }}&o=-study_date">
                    {{ value.total }}
                </a>
            </td>
            <td>
                <a href="/openrem/dx/?station_name={{ key }}&o=-study_date">
                    {{ value.latest|naturaltime }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if not homedata.CT and not homedata.RF and not homedata.MG and not homedata.DX %}
<h4>No data to display in the system</h4>
<p>There are currently no studies from any modality stored in the database. Add some to see a summary of each on this page.</p>
{% endif %}

{% endblock %}	
