{% extends "remapp/base.html" %}

{% block navbar %}
            {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
            {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
            {% if request.user.userprofile.displayMG %}<li class="active"><a href="/openrem/mg">Mammography</a></li>{% endif %}
            {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}


{% block mainblock %}		
<h1>Detail list of events</h1>

<ul>
    <li>Accession number: {{ generalstudymoduleattr.accession_number }}</li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }}</li>
    <li>Hospital: {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.institution_name }}</li>
    <li>
        Scanner: 
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.station_name }}
    </li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
</ul>

<table class="table table-striped table-bordered">
    <th>Time</th>
    <th>Acquisition protocol</th>
    <th>View</th>
    <th>Compression thickness</th>
    <th>Target</th>
    <th>Filter</th>
    <th>kVp</th>
    <th>mA</th>
    <th>Exposure time</th>
    <th>ESD</th>
    <th>AGD (mGy)</th>
    {% for event in generalstudymoduleattr.projectionxrayradiationdose_set.get.irradeventxraydata_set.all %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>{{ event.image_view }}</td>
        <td>{{ event.irradeventxraymechanicaldata_set.get.compression_thickness|floatformat:0  }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.anode_target_material }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.xrayfilters_set.get.xray_filter_material }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.average_xray_tube_current|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_time|floatformat:1 }}</td>
        <td>{{ event.entrance_exposure_at_rp|floatformat:3 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.average_glandular_dose|floatformat:3 }}</td>
    </tr>
    <tr>
        <td colspan = "11"><small> <strong>Exposure Control Mode Description:</strong>{{ event.comment }} </small></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}	
